{
	# Disable redirects and everything until I've started to figure out the
	# basics of Caddy.
	auto_https off
}

localhost:80 {
	respond "Hello, word!"
}

files.localhost:80 {
	reverse_proxy file-browser
}
