# Note - when accessing this via TailScale the SSL cert will be for the wrong domain.
# You can fix that by getting Caddy access to talk to the Tailscale socket, but I CBA.
{{ nas_domain }}  {
	reverse_proxy file-browser
}