global:
  scrape_interval:     60s

scrape_configs:
  # Monitor Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
      # node_exporter is running outside a container.
      # Here's a fucking stupid bullshit workaround to reach it from the
      # prometheus container.
      - targets: ['{{ ansible_docker0.ipv4.address }}:9100']

