global:
  scrape_interval:     60s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:80
      path_prefix: /alertmanager

rule_files:
  - /rules.yaml

scrape_configs:
  # Monitor Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost']
    metrics_path: '/prometheus/metrics'
  - job_name: 'node'
    static_configs:
      # node_exporter is running outside a container.
      # Here's a fucking stupid bullshit workaround to reach it from the
      # prometheus container.
      - targets: ['{{ ansible_docker0.ipv4.address }}:9100']
  - job_name: 'zfs_exporter'
    static_configs:
      - targets: ['{{ ansible_docker0.ipv4.address }}:9134']
  - job_name: 'smartctl'
    static_configs:
      - targets: ['prometheus-smartctl:9902']
